@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,500;1,900&display=swap');

body, h1, h4 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 900;
  background-color: #232323;
}

.flash {
  color: white;
  display: block;
  background-color: green;
}

.black-and-blue-text {
  color: #77818b;
  padding: 7.5px;
  background-color: #232323;
  text-shadow:
  3px 3px black;
}
