@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,500;1,900&display=swap');

body, h1, h4 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 900;
  background-color: #232323;
}

.flash-container {
  color: black;
  background-color: #51d474;
  padding: 10px;
  
  text-shadow:
  1.5px 1.5px #77818b;
  margin-top: .5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border: solid 2px #171717;
  border-radius: 10px;
}

.x-button {
  float: right;
}

.black-and-blue-text {
  color: #77818b;
  padding: 7.5px;
  background-color: #232323;
  text-shadow:
  3px 3px black;
}

.grid-container {
  overflow: auto;
  height: 100vh;
}
