.update-tags {
  display: block;
  transition: .25s;
  color: #fe4027;
  background-color: rgb(35, 35, 35) ;
  border-color: #fe4027;
  text-shadow: 
  2px 2px black,
  3px 3px black,
  4px 4px black;
  border-radius: 10px;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}