.project-show-title {
  text-align: center;
  font-size: 70px;
  color: #77818b;
  text-decoration: underline;
  text-shadow:
  2px 2px black,
  3px 3px black,
  4px 4px black;
}

.project-show-desc {
  text-align: center;
  color: #fe4027;
  font-weight: 300;
  font-size: 30px;
  text-shadow: 
  .2px .2px black;
}

.show-button {
  display: inline;
  border: solid 2px #77818b;
  padding: 10px;
  color: #77818b;
  border-radius: 10px;
  float: right;
}

.show-header-container {
  background-color: #232323;
  border: solid 2px #77818b; 
  margin-bottom: 3rem;
}

.show-button:hover {
  transition: .25s;
  color: #fe4027;
  background-color: rgb(35, 35, 35) ;
  border-color: #fe4027;
  text-shadow: 
  2px 2px black,
  3px 3px black,
  4px 4px black;
}

.black-background {
  margin-top: 3rem;
  background-color: #171717;
  border: solid 2px black;
  padding: 2rem;
  height: 100vh;
}

.user-tile {
  color: #fe4027;
  background-color: #232323;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 20px;
  width: 95%;
  margin-left: 2.5%;
  padding: 3px;
  border-bottom: solid 2px #fe4027;
}

.show-sub-header {
  color: #77818b;
  padding: 7.5px;
  background-color: #232323;
  border: solid 2px #77818b; 
  border-radius: 5px;
  text-shadow:
  3px 3px black;
}