.project-show-title {
  text-align: center;
  font-size: 65px;
  color: #77818b;
  text-shadow:
  2px 2px black,
  3px 3px black,
  4px 4px black;
  width: 90%;
  margin-left: 5%;
}

.project-show-desc {
  text-align: center;
  color: #fe4027;
  font-weight: 300;
  font-size: 30px;
  text-shadow: 
  2px 2px black,
  3px 3px black,
  4px 4px black;
}

.show-header-container {
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: .45rem;
}

.show-button {
  border: solid 2px #fe4027;
  padding: 15px;
  color: #fe4027;
  background-color: #171717;
  border-radius: 10px;
  float: right;
  margin-right: 1rem;
  margin-top: 1rem; 
  cursor: pointer;
}

.show-button:hover {
  transition: .25s;
  background-color: rgb(35, 35, 35) ;
  text-shadow: 
  2px 2px black,
  3px 3px black,
  4px 4px black;
}

.user-tile {
  color: #fe4027;
  background-color: #171717;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 20px;
  width: 95%;
  margin-left: 2.5%;
  padding: 3px;
  border-bottom: solid 2px #fe4027;
  
}

.show-sub-header {
  color: #77818b;
  padding: 7.5px;
  background-color: #171717;
  border: solid 2px #77818b; 
  border-radius: 5px;
  text-shadow:
  3px 3px black;
  margin-bottom: 1rem;  
  text-align: center;
}

.project-text-area.wide {
  width: 100%;
  height: 100px;
}

.show-comment-container {
  background-color: #171717;
  border-radius: 10px;
  border-bottom: solid 2px  #fe4027;
  color: #fe4027;
  margin-top: 1rem;
}

.comment-author {
  padding-top: 5px;
  color: #fe4027;
  font-weight: 300; 
  text-shadow:
  2px 2px black;
  text-align: left;
  font-size: 14px;
  margin-left: 1rem;
}

.comment-body {
  background-color: #171717;
  text-align: left;
  margin-left: 1rem;
  text-shadow:
  2px 2px black;
}

.comment-date {
  padding-top: 5px;
  text-align: left;
  color: #fe4027;
  font-weight: 300; 
  text-shadow:
  2px 2px black;
  font-size: 14px;
  margin-left: 1rem;
}

.show-submit-button {
  border: solid 2px #77818b;
  border-radius: 10px;
  background-color: transparent;
  color: #77818b;
  padding: 10px;
  cursor: pointer;
}

.show-submit-button:hover {
  transition: .25s;
  color: #fe4027;
  background-color: rgb(35, 35, 35) ;
  border-color: #fe4027;
  text-shadow: 
  2px 2px black,
  3px 3px black,
  4px 4px black;
}

.show-margin {
  margin-left: 10rem;
  margin-right: 10rem;
}

.request-tile {
  color: #77818b;
  background-color: #171717;
  margin-top: 1rem;
  border-radius: 10px;
  height: 2.75rem;
  font-size: 1.25rem;
  width: 95%;
  margin-left: 2.5%;
  padding: 3px;
  border-bottom: solid 2px #77818b;
  cursor: pointer;
}


.request-accept{
  float: left;
  margin-left: 1rem;
  margin-top: .425rem;
}

.request-accept:hover{
  color: #45fd82;
  border-color: #45fd82;
}

.request-deny {
  float: right;
  margin-right: 1rem;
  margin-top: .4rem;
  color: #77818b;
}

.request-deny:hover {
  color: #fd0000;
}

.user-tile-name {
  display: inline;
}