.result-link a{
  color: #fe4027;
  margin-top: 5rem;
  font-weight: 900;
  text-shadow: 
  4px 4px black,
  5px 5px black,
  6px 6px black;
}

.search-bar {
  margin-left: 10rem;
  margin-right: 10rem;
}

.result-container {
  margin-left: 10rem;
  margin-right: 10rem;  
}

.comment-body.light {
  font-weight: 500;
}

.search-field {
  border: solid 2px #fe4027 !important;
  border-radius: 10px;
  background-color: #232322 !important;
  color: #7b8792;
}